{% load static %}
<html>
    <head>
        <title>Artur Reinhardt</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/">Artur Reinhardt</a></h1>
        </div>

        <div>
            <h3>Bienvenido a mi blog personal</h3>
        </div>

        <div>
            <p>Aquí encontrarás algunos de los pasajes de mi vida, siéntete libre de explorar el sitio y no olvides dejar un comentario antes de irte!</p>
        </div>

        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                  {% block content %}
                  {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
