<html>
    <head>
        <title>Artur Reinhardt</title>
    </head>
    <body>
        <div>
            <h1>Artur Reinhardt</h1>
            <h2>Bienvenido a mi blog personal</h2>
        </div>

        <div>
            <p>Aquí encontrarás algunos de los pasajes de mi vida, siéntete libre de explorar el sitio y no olvides dejar un comentario antes de irte!</p>
        </div>
        <br>
        <hr>
        <br>
        <div>
            <h3>Comenta en mi libro de visitas:</h3>
        </div>
        <br>
        {% for post in posts %}
            <div>
                <p> publicado: {{ post.published_date }}</p>
                <h4>{{ post.title }}</h4>
                <h5>{{ post.author }}</h5>
                <p>{{ post.text|linebreaksbr }}</p>
                <br>
            </div>
        {% endfor %}
    </body>
</html>
